.App{
    height:100vh;
   

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color:beige;
    margin-bottom: 14px;
}
.books{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap:10px;
    padding-bottom: 20px;
}
.book{
  padding: 10px;
    display: flex;
    flex-direction: column;
    gap:1px;
    align-items: center;
    background-color: rgb(245, 245, 239);
   
}
.cover-image{
    width:200px;
    height: 300px;
    object-fit: cover;
  
}
.del-update-buttons{
    border-top: 1px solid rgb(228, 224, 224);
    padding-top: 5px;
    display: flex;
    gap:10px;
}
.delete{
    font-size: 14px;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245,191,191);
    color:rgb(242,100,100)
}
.extend-btn-width{
    width:270px;
}
.update{
    
    font-size: 14px;
   text-decoration: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(76, 187, 90);
    color:rgb(76, 155, 56)
}
.form{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
input,textarea{
    width:250px;
    padding: 10px;
    border:1px solid gray;
}
button{
    border:none;
    padding: 10px;
    background-color: rgb(87, 172, 70);
    color:white;
    font-weight: bold;
    cursor:pointer;
   
}
.formLink{
    border:none;
    padding: 10px;
    background-color: rgb(87, 172, 70);
    color:white;
    font-weight: bold;
    cursor:pointer;
    text-decoration: none;
}
.footer{
    width: 100vw;
    padding: 30px;
    background-color: beige;
    text-align: center;
    position:absolute;
    bottom: 0px;
}
@media only screen and (max-width: 600px) {
    .books {
      flex-wrap: wrap;
    }
    .header{
        font-size: 10px;
    }
  }